name: v2ray-free

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Install Xray
        run: |
          curl -Ls https://raw.githubusercontent.com/XTLS/Xray-install/main/install-release.sh | sudo bash

      - name: Create config
        run: |
          UUID=$(cat /proc/sys/kernel/random/uuid)
          cat <<EOF > config.json
          {
            "inbounds": [
              {
                "port": 10000,
                "protocol": "vless",
                "settings": {
                  "clients": [
                    {
                      "id": "$UUID"
                    }
                  ],
                  "decryption": "none"
                },
                "streamSettings": {
                  "network": "tcp",
                  "security": "none"
                }
              }
            ],
            "outbounds": [
              {
                "protocol": "freedom"
              }
            ]
          }
          EOF
          echo "UUID=$UUID"

      - name: Run Xray (background)
        run: |
          nohup /usr/local/bin/xray run -config config.json > xray.log 2>&1 &

      - name: Install cloudflared
        run: |
          wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
          chmod +x cloudflared-linux-amd64
          sudo mv cloudflared-linux-amd64 /usr/local/bin/cloudflared

      - name: Run Tunnel
        run: |
          cloudflared tunnel --url tcp://localhost:10000
